@model List<Inspecco_UI.Models.Company>
@{
    ViewData["Title"] = "CompanyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Permission = ViewData["PermissionList"] as SeesionModel;
}

<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName.Trim() == "Create") != null)
    {
        <a style="margin-left: -1em; margin-bottom: 1em; width: 5em;" href="~/Company/CompanyCreate" class="btn btn-primary">Ekle</a>
    }
</div>
<div class="row" id="table-responsive">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName == "Update") != null)
                            {
                                <th scope="col" class="t col-xl-1">Düzenle</th>
                            }
                            @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName == "Delete") != null)
                            {
                                <th scope="col" class="t col-xl-1">Sil</th>
                            }
                            @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName == "Read") != null)
                            {
                                <th scope="col" class=" col-xl-2">Firma Adı</th>
                                <th scope="col" class=" col-xl-4">Açıklama</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName == "Update") != null)
                                {
                                    <td class="col-xl-1">
                                        <a href="/Company/CompanyEdit/@item.CompanyId" class=" btn btn-outline-success btn-sm "><i data-feather='edit'></i>Düzenle </a>
                                    </td>
                                }
                                @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName == "Delete") != null)
                                {
                                    <td class="col-xl-1">
                                        <a href="/Company/CompanyDelete/@item.CompanyId" class="btn btn-sm btn-outline-danger "><i data-feather='trash-2'></i> Sil</a>
                                    </td>
                                }
                                @if (Permission.Role.Permission.FirstOrDefault(a => a.PermissionName == "Read") != null)
                                {
                                    <td class="col-xl-2">@item.CompanyName</td>
                                    <td colspan="4">@Html.Raw(item.CompanyDescription)</td>
                                }
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

