@model Inspecco_UI.Models.Person
@{
    ViewData["Title"] = "PersonCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Permission = ViewData["PermissionList"] as SeesionModel;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />

@if (Model == null)
{
    <section id="basic-vertical-layouts">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Yeni Kayıt Oluştur</h4>
                    </div>
                    <div class="card-body">
                        <form class="form form-vertical" enctype="multipart/form-data" asp-action="PersonCreate" asp-controller="Person" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="first-name-vertical">Adı</label>
                                        <input type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="PersonName" value="" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="first-name-vertical">Soyadı</label>
                                        <input type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="PersonSurname" value="" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="first-name-vertical">Cep Telefonu</label>
                                        <input autocomplete="off" id="name-vertical" class="form-control" name="Contact" value="" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary me-1">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



